*{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.center{
  display: flex;
  align-items: center;
}
.header{
  margin-bottom: 25px;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.5);
  color:white;
  background-color: DodgerBlue;
  padding: 15px;
}
h3{
  margin-bottom: 10px;
}
.input-todo{
  padding: 7px 10px;
}
.submit-todo{
  padding: 8px 10px;
  margin-left: 5px;
  border: 1px solid ;
  color: white;
  background-color: dodgerblue;
}
.submit-todo:hover{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
input:focus,button:focus{
  outline: none;
}
ul{
  margin-left: 20%;
  width: 60%;
}
li{
    padding : 20px;
    margin-top: 10px;
    text-align : left;
    border-radius : 5px;
    list-style-type : none;
}
li:nth-child(odd){
    color : white;
    border : 1px solid dodgerblue;
    background-color :  dodgerblue;
}
li:nth-child(even){
    color : dodgerblue;
    border : 1px solid dodgerblue;
    background-color :  white;
}
li button{
  float: right;
}
button{
  border: none;
  padding: 2px;
}
.googleLogin{
  margin-top: 10vh;
}